@import './../../App.scss';

.input-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 20px;
  background-color: transparent;
  padding: 10px;

  label {
    text-transform: capitalize;
    font-weight: 500;
    min-width: 110px;
  }
  input[type='text'] {
    border-bottom: 1px solid $palette-alert-color;
    padding: 2px;
    letter-spacing: 1.1px;
    box-sizing: border-box;
    color: $palette-primary-color;
  }
}
