@import './../../../App.scss';

header {
  width: 100%;
  min-height: 50px;
  background-color: $palette-main-color;
  color: $palette-primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-transform: uppercase;
}
