@import './../../../App.scss';

.search-input-container {
  background-color: transparent;
  border: 1px solid $palette-main-color;
  border-radius: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;

  input[type='button'] {
    &.reset-button {
      box-shadow: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin: 0px;
      width: 33px;
      height: 33px;
      background-color: transparent;
      color: $palette-main-color;
      border: 1px solid $palette-main-color;
      border-radius: 50%;
      outline: none;
      transition: 0.3s;

      &:hover {
        background-color: $palette-main-color;
        color: $palette-primary-color;
      }
      &:focus {
        background-color: $palette-main-color;
        color: $palette-primary-color;
      }
      &:active {
        background-color: $palette-primary-color;
        color: $palette-main-color;
      }
    }
  }
  svg {
    .search-icon {
      fill: $palette-main-color;
    }
  }
  .search-input {
    outline: none;
    color: $palette-main-color;
    &::placeholder {
      font-style: italic;
      color: $palette-main-color;
      letter-spacing: 1.1px;
    }
  }
}
