.month {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 15px;

    &.visible {
        display: flex;
    }

    .days-container {
        display: grid;
        grid-template-columns: repeat(7, 75px);
        gap: 10px;
    }
}
