.record_new_contract {
  padding: 10px;
  p {
    min-width: 170px;
    margin: 5px;
  }
  .customer-header-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  .customer-data-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
}
