@import './../../App.scss';

.indicator-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  svg {
    circle {
      stroke: $palette-secondary-color;
    }
  }

  .indicator-percentage {
    position: absolute;
    width: fit-content;
    color: $palette-main-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 15px;
  }

  &.tooltip {
    position: absolute;
  }
}
