@import './../../App.scss';

nav {
  position: fixed;
  padding-top: 100px;
  width: 140px;
  height: 100vh;
  background-color: $transparent-palette-main-color;
  backdrop-filter: blur(10px);
  color: $palette-primary-color;
  z-index: 1000;
  transition: 0.5s;
  &.hide {
    width: 50px;
  }
}
