@import './../../../App.scss';

.full-details {
  padding-left: 30px;
  .full-details-container {
    border: 1px solid $palette-main-color;
    border-radius: 10px;
    margin-top: 10px;
    legend {
      margin-left: 10px;
      font-weight: 500;
      font-size: larger;
    }

    p {
      display: flex;
      align-items: center;
      font-size: small;
    }
    .full-details-row {
      display: flex;
      flex-direction: column;
    }
  }
}
