@import './../../../App.scss';
.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0 0 5px;
  top: 0px;
  left: 0px;
  width: 130px;
  height: 100vh;
  transition: 0.5s;

  &.close {
    min-width: 100px;
    height: 0;
    padding-top: 0px;
    transition: 0.5s;
  }
}
