@import './../../../App.scss';
.menu-container {
  position: absolute;
  top: -230px;
  left: -230px;
  width: 560px;
  height: 560px;

  .rotating-container {
    position: absolute;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0;
    left: 0;
    width: 560px;
    height: 560px;
    border-radius: 50%;
    background-color: $palette-main-color;
    &.close {
      top: 230px;
      left: 230px;
      width: 100px;
      height: 100px;
    }
  }

  @keyframes rotate {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
}
