@import './../../App.scss';

section {
  position: relative;
  width: calc(100% - 140px);
  height: 100vh;
  padding-left: 140px;
  background-color: transparent;
  z-index: 0;
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
