@import './../../App.scss';

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 10px 140px;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 0;
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
