@import './../../App.scss';

section {
  color: $palette-main-color;
  position: relative;
  width: 90%;
  height: 100vh;
  padding-left: 100px;
  background-color: transparent;
  z-index: 0;
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
