.dashboard-container {
  height: 80%;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  .actual-content-container {
    width: 100%;
  }

  .table-content-container {
    width: 100%;
  }
}
