@import './../../../App.scss';

.calendar-container {
  width: 90%;
  height: fit-content;
  background-color: $palette-primary-color;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .change-years-container {
    display: flex;
  }

  .calendar-month{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 15px;

  }

  h2 {
    width: fit-content;
  }
}
