$palette-main-color: rgb(1, 45, 81);
$palette-primary-color: rgb(196, 240, 238);
$palette-secondary-color: rgb(53, 198, 193);
$palette-additional-color: rgb(12, 65, 99);
$palette-alert-color: #317d65;

#root {
  background: linear-gradient(60deg, $palette-main-color 15%, $palette-secondary-color 70%);
  color: $palette-main-color;
  min-height: 100vh;
}

.App {
  position: relative;
}
