$palette-main-color: #012d51;
$palette-primary-color: #c4f0ee;
$palette-secondary-color: #35c6c1;
$palette-additional-color: #3c87b5;
$palette-alert-color: #317d65;

$transparent-palette-transparent-primary-color: rgba($palette-primary-color, 0.7);
$transparent-palette-main-color: rgba($palette-main-color, 0.5);

$table-data-element-size: 80px;

#root {
  background: linear-gradient(60deg, $palette-main-color 15%, $palette-secondary-color 70%);
  color: $palette-main-color;
  min-height: 100vh;
}

.App {
  position: relative;
}

.modal_window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  animation-name: appear_modal;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes appear_modal {
  to {
    background-color: $transparent-palette-transparent-primary-color;
    backdrop-filter: blur(2px);
  }
}
