@import './../../../../App.scss';
.day,
.empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $palette-main-color;
  color: $palette-primary-color;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-sizing: border-box;
  p{
    font-size: 12px;
  }
  
}

.empty {
  background-color: $palette-additional-color;
}
