@import './../../../../App.scss';
.day,
.empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $palette-main-color;
  color: $palette-primary-color;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.empty {
  background-color: $palette-additional-color;
}
