.info-financial-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 170px;

  .info-financial-panel-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
