@import './../../App.scss';
main {
  color: $palette-main-color;
  form {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 850px;
    height: 600px;
    gap: 15px;
    div {
      height: fit-content;
      width: 400px;
      fieldset {
        margin: 10px 5px;
        border: 2px solid $palette-main-color;
        border-radius: 10px;
        padding: 15px 5px;
        box-shadow: 3px 3px 5px $palette-main-color;

        legend {
          margin: 0 10px;
          padding: 0 5px;
          font-weight: 600;
          letter-spacing: 1.2px;
          color: $palette-main-color;
          text-shadow: 2px 2px 3px $palette-main-color;
        }
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
}
