@import './../../App.scss';

// .contacts-container {
//   margin: 10px 0 0 10px;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 10px;

//   .contact-details {
//     position: relative;
//     p:nth-child(1) {
//       padding-top: 40px;
//       height: 20px;
//     }

//     .delete-button_absolute {
//       position: absolute;
//       top: 0;
//       right: 0;
//     }
//     cursor: pointer;
//     background-color: $palette-secondary-color;
//     box-shadow: 5px 5px 5px $palette-main-color;
//     padding: 10px;
//     width: fit-content;
//     max-width: 350px;
//     border-radius: 10px;
//     gap: 10px;
//   }
// }

.contacts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  background-color: $palette-primary-color;
  color: $palette-main-color;
  margin: 10px;
  padding: 0 30px;

  .header-details {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-weight: 500;
    .header-details-column {
      display: flex;
    }
  }
  p {
    display: flex;
    align-items: center;
    height: 45px;
    word-break: normal;
    text-align: left;
    min-width: 180px;
    box-sizing: border-box;
    padding-left: 10px;
  }
  .contact-details {
    .main-details {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      .main-details-header {
        display: flex;
      }
    }

    @media screen and (max-width: 1270px) {
      p {
        min-width: fit-content;
      }
    }
  }
}
