@import './../../App.scss';

.contacts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  background-color: $transparent-palette-transparent-primary-color;

  color: $palette-main-color;
  margin: 10px;
  padding: 0 30px;

  p {
    display: flex;
    align-items: flex-start;
    height: 40px;
    word-break: normal;
    text-align: left;
    min-width: 150px;
    box-sizing: border-box;
    padding-left: 10px;
  }

  @media (max-width: 1300px) {
    p {
      min-width: 90px;
    }
  }
  .header-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    font-weight: 500;
    .header-details-column {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 900px) {
  .contacts-container {
    padding: 5px;
    justify-content: flex-start;
    flex-wrap: wrap;

    .header-details {
      .header-details-column {
        display: none;
        width: 0;
        p {
          display: none;
        }
      }
    }
  }
}
